@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    min-height:100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(../img/banerharinapan78-panorama.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #E1C699;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #E1C699;
    background: #E1C699;
    transition: 1s;
}

nav .fa{
    display: none;

}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #E1C699;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

button{
    width: 200px;
    padding: 15px 0 ;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #E1C699;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #E1C699;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.btn{
    display:inline-block;
    border-radius: 5rem;
    background: #E1C699;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #b2b0b0;
    color: #333;
    border: 2px solid #E1C699;
    background: transparent;
    color: #E1C699;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.about{
    padding: 2rem 0;
    background: #fff;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: #fde3b5;
    font-family: 'Times New Roman', Times, serif;
}

.heading span{
    color: #fde3b5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0rem 0;
    padding-bottom: 3rem;
    margin: 0.5%;
}

.about .row .video-container{
    flex: 1 1 37rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 0.5rem solid #E1C699;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    mix-blend-mode: screen;
}

.about .row .content{
    flex: 1 1 40rem;

}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #9999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;

}

.review .box-container .box .stars i{
    color: #E1C699;
    font-size: 2rem;
}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span{
    font-size: 1.3rem;
    color: #999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse ;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex: 1 1 40rem;
    
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: 1rem 0;
    width: 95%;
}

.contact .row form .box:focus{
    outline: none;
    border-color: #E1C699;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.center-text{
    text-align: center;
}

.products-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.products-box{
    position: relative;

}

.products-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499, .05, .55, .95);
    will-change: filter;
    display: block;
}

.products-box h6{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 18px;
    font-weight: 500;
}

.products-box h4{    
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: 700;
}

.products-box img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
}

.center-btnC{
    text-align: center;
    margin-top: 4rem;
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top:20px ;
    font-weight: 600;
}

.icons .fa{
    color: #080101;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.rowPR{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-4:hover{
    transform: translate(-5px);
}